body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f6fa;
    color: #172033;
}

nav {
    background-color: #111827;
    padding: 16px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 14px;
    border-radius: 8px;
}

nav a:hover {
    background-color: #4f46e5;
}

main {
    padding: 40px;
}

h1 {
    font-size: 36px;
    margin-bottom: 5px;
}

h2 {
    color: #4f46e5;
}
